:root{
  --empty-tile-color: blue;
  --hit-tile-color: red;
  --miss-tile-color: green;
  --ship-tile-color: gray;
  --sunk-tile-color: black;

  --hover-tile-color: purple;
}

body{
  display: flex;
  align-items: center;

  flex-direction: column;
}

section#board-display{
  display: flex;

  width: 90vw;

  gap: 50px;
}

div#interactive-board, div#static-board{
  display: grid;
  gap: 5px;
  flex: 1;
}

#interactive-board .empty-tile:hover{
  background-color: var(--hover-tile-color);
}

.empty-tile, .hit, .miss, .ship, .sunk{
  aspect-ratio: 1;
}

.empty-tile{
  background-color: var(--empty-tile-color);
}

.hit{
  background-color: var(--hit-tile-color);
}

.miss{
  background-color: var(--miss-tile-color);
}

.ship{
  background-color: var(--ship-tile-color);
}

.sunk{
  background-color: var(--sunk-tile-color);
}

#text-bar{
  text-align: center;
  font-size: 36px;
}

dialog{
  width: 100vw;
  height: 100vh;
}