section#board-display{
  display: flex;
  align-items: center;

  gap: 50px;
}

div#opponent-board, div#current-board{
  display: grid;
  width: 50vw;
  gap: 5px;
}

.empty-tile{
  aspect-ratio: 1;

  background-color: blue;
}

.empty-tile:hover{
  background-color: red;
}