body{
  display: flex;
  align-items: center;

  flex-direction: column;
}

section#board-display{
  display: flex;

  width: 90vw;

  gap: 50px;
}

div#interactive-board, div#static-board{
  display: grid;
  gap: 5px;
  flex: 1;
}

.empty-tile{
  aspect-ratio: 1;

  background-color: blue;
}

.hit{
  aspect-ratio: 1;

  background-color: red;
}

.miss{
  aspect-ratio: 1;

  background-color: green;
}

.ship{
  aspect-ratio: 1;

  background-color: gray;
}

.sunk{
  aspect-ratio: 1;

  background-color: black;
}

#text-bar{
  text-align: center;
  font-size: 36px;
}

#interactive-board .empty-tile:hover{
  background-color: purple;
}