section#board-display{
  display: flex;
  align-items: center;

  gap: 50px;
}

div#interactive-board, div#static-board{
  display: grid;
  width: 50vw;
  gap: 5px;
}

.empty-tile{
  aspect-ratio: 1;

  background-color: blue;
}

.hit{
  aspect-ratio: 1;

  background-color: red;
}

.miss{
  aspect-ratio: 1;

  background-color: green;
}

.ship{
  aspect-ratio: 1;

  background-color: gray;
}
#interactive-board .empty-tile:hover{
  background-color: purple;
}